body{
  background-image: url("assets/background.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #F5F5DC;
  width: 100%;
  height: auto;
}
.win{
  font-size: 30px;
}
#score1{
  width: 25%;
}
#totalScore1{
  width: 35%
}
#score2{
  width: 25%;
}
#totalScore2{
  width: 35%;
}
#winner{
  width: 30%;
  color: blue;
}
