body{
  background-image: url("assets/background.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #F5F5DC;
  width: 100%;
  height: auto;
}
#fox{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 40px;
  text-align: center;
}
.rule{
  font-family: 'Stylish', sans-serif;
  font-size: 30px;
}
#link{
  font-size: 60px;
}
#link:hover{
  color: #00FFFF;
}
#text{
  font-family: 'Roboto Mono', monospace;
}
.win{
  font-size: 30px;
}
#score1{
  width: 25%;
}
#totalScore1{
  width: 35%
}
#score2{
  width: 25%;
}
#totalScore2{
  width: 35%;
}
#winner{
  width: 30%;
  color: blue;
}
